body {
    margin: 0;
}

img {
    width: 100%;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    border: 1px black solid;
    padding: 1em;
}

section,
header,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    font-family: 'geosanslightregular';
    color: black;
}

p {
    font-size: 1em;
    color: black;
}

h2 {
    font-size: 1.5em;
    font-family: 'geosanslightregular';
    color: black;
}

h3 {
    font-size: 1.2em;
    font-family: 'geosanslightregular';
    color: black;
    font-family: bold;

}

h4 {
    font-size: 1.2em;
    font-family: 'geosanslightregular';
    color: black;
}


/*----------------------- header ------------------------ */

/* unvisited link */
header nav a:link {
    color: black;
}

/* visited link */
header nav a:visited {
    color: purple;
}

/* mouse over link */
header nav a:hover {
    color: #cbbebe;
}

/* selected link */
header nav a:active {
    color: black;
}

header {
    position: fixed;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(171, 186, 171, 0.63));
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    font-family: 'geosanslightregular';

}


@media only screen and (min-width:1025px) {


    header nav a {
        font-size: 1.6rem;
        margin: 0.25rem;
        padding: 0.25rem;

    }


}



/*----------------------------------------------------------*/

a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

li {
    font-size: 1em;
    color: black;
}

ol {
    hyphens: auto;
    max-width: 250px;
}

em {
    font-size: 0.8em;
}

/**************** om ********************/

#om .column {
    flex-grow: 1;
    flex-basis: 600px;
    margin-top: 0;
    margin-bottom: 0;
}

#om .img {
    margin-top: auto;
}

/*************** eksempel ***************/

#eksempler .column {
    flex-grow: 1;
    flex-basis: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
}

/*************** typografi ***************/

#typografi .column_wide {
    flex-grow: 3;
    flex-basis: 900px;
}

#typografi .column_narrow {
    flex-grow: 1;
    flex-basis: 300px;
}

#typografi .top {
    display: flex;
    flex-wrap: wrap;
}

#typografi .image {
    flex-basis: 450px;
    flex-grow: 1;
}

#typografi .txt {
    flex-basis: 450px;
    flex-grow: 1;
}

#typografi .bottom {
    display: flex;
    flex-wrap: wrap;
}

/**************** farve og komposition **************/

#komposition_farver .column_wide {
    flex-grow: 3;
    flex-basis: 600px;
    display: flex;
}

#komposition_farver .column_narrow {
    flex-grow: 1;
    flex-basis: 600px;
}

#komposition_farver .colors {
    flex-grow: 1;
    flex-basis: 200px;
    padding-right: 10px;
}

#komposition_farver .content {
    flex-grow: 2;
    flex-basis: 1000px;
}

/****************** links *********************/



/****************** ekstra *********************/

#ekstra .column {
    flex-grow: 1;
    flex-basis: 600px;
}



/****************** styletile *********************/


#styletile,
body {
    margin: 0 auto;
}

#styletile .colors {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.colors div {
    width: 100px;
    height: 100px;
    border: 1px black solid;

}

.colors div {
    width: 100px;
    height: 100px;
    border: 1px black solid;

}


#komposition_farver .colors {
    flex-wrap: nowrap;
    flex-direction: column;

}

.color1 {
    background-color: #363635;

}


.color2 {
    background-color: #590106;

}

.color3 {
    background-color: #725F63;

}

.color4 {
    background-color: #DADAD2;

}

.color5 {
    background-color: #A40A14;

}

#styletile .forklaring strong {
    font-weight: 700;
}

#styletile h2,
#styletile h3 {
    font-family: 'Noto Serif KR', sans-serif;
}

#styletile h1 {
    font-size: 3rem;
    font-family: 'geosanslightregular';
    color: black;

}

#styletile h2 {
    font-size: 2rem;
}

#styletile h3 {
    font-size: 1rem;
}

#styletile p {
    font-family: 'Roboto', sans-serif;
    Line-height: 1.4
}

#styletile .manchet {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 1rem;
}

#styletile a {
    text-decoration: none;
    font-family: 'Noto Serif KR', sans-serif;
}

/* unvisited link */
#styletile a:link {
    font-family: 'Noto Serif KR', sans-serif;
}

/* visited link */
#styletile a:visited {
    color: #42e6ed
}


/* mouse over link */
#styletile a:hover {
    color: #fa50e6
}

/* selected link */
#styletile a:active {}

#styletile .content {
    display: flex;
    flex-wrap: wrap;
}

#styletile .column {
    flex-grow: 1;
    flex-basis: 600px;
}

.splash {
    display: flex;
}

.splashbilleder {
    display: flex;
}

/*
.splash div {
    display: flex;
    flex-basis: 200;
    justify-content: space-between;
}
*/
#styletile figcaption {
    font-family: 'Noto Serif KR', sans-serif;
    color: #4566f0;
    font-size: 0.6rem
}

@font-face {
    font-family: 'geosanslightregular';
    src: url('fonte/geosanslight-webfont.woff2') format('woff2'),
        url('fonte/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/************** alt til min 600px**********************/


@media only screen and (min-width: 750px) {
    #eksempler .column {
        flex-basis: 900px;
    }
}


@media only screen and (min-width: 375px) {
    #eksempler .column {
        flex-basis: 300px;
    }
}




@media only screen and (min-width: 600px) {



    h1 {
        font-size: 3rem;
    }

    header {
        font-size: 2rem;


    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 2em;
    }

    li {
        font-size: 1.3em;
    }

    #ekstra img {
        max-width: 400px;
    }

    #ekstra .column {
        flex-grow: 2;
        flex-basis: 300px;
        padding-left: 95px;

    }

    #om img {
        max-width: 600px;
        margin: auto;
        margin-top: 100px;
    }

    #om .column {
        flex-grow: 1;
        flex-basis: 500px;
        padding: 10px;
    }

    #om em {
        padding-left: 50px;
    }

    #typografi img {
        max-width: 350px;
    }

    #typografi .column_wide {
        flex-grow: 3;
        max-width: 700px;
        margin: 10px;
        padding: 40px;
    }

    #typografi .column_narrow {
        margin-right: 10px;
        margin-top: 45px;
    }

    #typografi .top {
        flex-wrap: wrap;
        display: flex;
    }

    #typografi .txt {
        flex-grow: 1;
        flex-basis: 325px;
    }

    #typografi .image {
        flex-grow: 1;
        flex-basis: 325px;
    }

    #typografi .bottom {
        display: flex;
        flex-wrap: wrap;
    }

    #komposition_farver img {
        max-width: 400px;

    }


    #komposition_farver .column_wide {
        flex-grow: 1;
        flex-basis: 650px;
        padding: 20px;
    }

    #komposition_farver .column_narrow {
        flex-grow: 1;
        flex-basis: 400px;
        padding: 10px
    }

    #links ol {
        hyphens: none;
        max-width: 5000px;

    }

    header nav {
        flex-direction: row;
        margin: 1rem;
        justify-content: center;
    }

    header nav a {
        font-size: 1.4rem;
        border-right: 0.1rem solid black;
        padding: 0 0.2rem;
    }


    /*----- pseudo-selector (f.eks. :last child) LÆS MERE på www.3schools.com--------*/
    header nav a:last-child {
        border-right: none;
    }

    header {
        max-width: none;
    }
}
