#styletile .forklaring {
    font-size: 0.7rem;

}

#styletile .forklaring strong {
    font-weight: 700;
}

#styletile h1,
#styletile h2,
#styletile h3 {
    font-family: 'Noto Serif KR', sans-serif;
}

#styletile p {
    font-family: 'Roboto', sans-serif;
}


#styletile a {
    text-decoration: none;
}

/* unvisited link */
#styletile a:link {}

/* visited link */
#styletile a:visited {}


/* mouse over link */
#styletile a:hover {}

/* selected link */
#styletile a:active {}